.cart-card {
  padding: 10px;
  padding-top: 20px;
  margin: 0px auto;
  margin-bottom: 40px;
  height: 220px;
  width: 80%;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.219);
}

.prod-cart-img {
  height: 200px;
  width: 200px;
  float: left;
}

.cart-content {
  margin-left: 200px;
  padding: 0;
  padding-left: 20px;
  display: flex;
  height: 100%;
}

.cart-prod-name {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  height: 30px;
  padding: 15px 15px 0px 15px;
  margin-bottom: 10px;
}

.price {
  padding-top: 20px;

}

.delivery {
  padding: 10px 0;
  font-size: small;
}

.cart-btns {
  width: 100%;
  margin: 20px auto;
}

.cart-btn {
  border-color: rgba(0, 0, 0, 0.308);
  border-width: 0.5px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.cart-btn:hover {
  background: rgb(231, 108, 108);
  scale: 1.02;
  color:white;
}

.total {
  padding: 10px 0;
  margin-top: 35%;
}
.total>span{
  color:red;
  font-size: larger;
}

.qty {
  border: 0;
  outline: none;
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.qty-btn {
  background-color: transparent;
  outline: none;
  margin: 0 5px;
}
.qty-btn:hover{
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.219);
}
