.tabs {
  background-color: rgb(206, 197, 197);
  height: 70px;
}
.tab {
  height: 70px;
  width: 20%;
  font-family: "AdobeCaslonPro";
}

.grid-item {
  height: 50px;
  display: flex;
  margin: 15px;
  border: 3px solid rgb(206, 197, 197);
}
.grid-item:hover {
  background-color: rgb(206, 197, 197);
}

.btn {
  border-radius: 0;
}

.slider {
  margin: 15px;
}

.act {
  background-color: rgb(221, 206, 206);
  color: white;
}

.remove {
  color: red;
  background-color: rgb(221, 206, 206);
  width: 45px;
  border: 1px solid red;
  cursor: pointer;
}

.remove:hover {
  color: rgb(221, 206, 206);
  background-color: red;
}
