.personalDetailsContainer{
    margin: 1em;
    min-height: 400px;
    max-width: 600px;
    padding-top: 1.5em;
    margin-right: 4em;
}
.userInput{
    width: 85%;
    font-weight: 500;
    border-radius: 7px;
}

.saveUserDets{

}