.personalDetailsContainer{
    margin: 1em;
    background-color:rgba(216, 45, 45, 0);
    min-height: 400px;
    max-width: fit-content;
    padding-top: 1.5em;
    margin-right: 4em;
}
.userInput{
    width: 85%;
    font-weight: 500;
    border-radius: 7px;
}

.saveUserDets{
    
}