/* 

.our-story {
  height: 100vh;
  /* background-color: blanchedalmond; */
/* background-color: transparent; */

/* .our-story-img {
  width: 70%;
  height: 90vh;
}
*/

.parallax-img {
  height: 100vh;
  background-size: cover;
  width: 100%;
}
.organikart {
  font-family: "Benillia";
  margin-top: 300px;
}
