.product {
  height: 400px;
  border-radius: 0;
}

.prod-img {
  height: 400px;
}

.prod-text {
  position: absolute;
  color: whitesmoke;
  font-family: "AdobeCaslonPro";
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  padding: 10px;
  font-weight: lighter;
}

/* .cat-content {
  
  background: red;
} */

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zoom {
  transition: transform 0.3s;
}

.zoom:hover {
  transform: scale(1.2);
  overflow-x: hidden;
}
