.itemGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: auto;
  background-color: rgb(253, 247, 239);
  margin: 2% 0%;
  padding: 2% 2%;
}

div img {
  width: 80%;
}
.img-container{
  height: 300px;
  flex: 50%;
  margin-top: 20px;
}
.img-container img{
  object-fit: cover;
}
.prodDetails{
  flex: 50%;
  translate: 10px 36px;
  background-color: rgba(174, 245, 245, 0.404);
}
.prodDetails p{
  font-size: 20px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.buttons button {
  font-size: 20px;
  border-radius: 20px;
  margin: 2px 5px;
  width: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prodPrice p{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800
}

.cost{
  background-color: rgba(0, 255, 255, 0);
  padding-left: 0px;
}
.cost > h4{
  width: 300px;
  margin-left: 0px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}
.cost > h4{
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prodPrice p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prodPrice :first-child{
  opacity: 2;
}