.order-card{
    max-width: 90%;
    padding-bottom: 20px;
    max-height: 200px;
    background-color: rgba(192, 160, 223, 0.219);
    margin: 2em 0;
    border-radius: 15px;

}

.order-img {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 1.2em;
    margin-top: 1.2em;
}
.order-mrp{
    font-size: large;
    font-weight: 700;
}
.short-description-order {
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    padding-left: 1em;
    color: rgb(94, 90, 90);
    font-weight: 500;
    font-family:Verdana, sans-serif
  }
.order-values{
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: .9;
}
.your-odrs{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    background: -webkit-linear-gradient(rgb(47, 233, 177), rgb(57, 10, 224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prod-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.cart-prod-name{
    padding-top: 0px;
    text-shadow: 1em;
    margin-left: -20px;
}