.userProfileContainer{
    padding: 25px 90px 25px 30px;
    margin-top: 90px;
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient( rgba(110, 235, 235, 0.219) 40%,
    rgba(202, 226, 240, 0.219) 80%);
}

.userLeftPane-item{    
    display: flex;
    justify-content: left;
    align-items: center;
    cursor:pointer;
    padding: 5px 2.4em;
    background-color: rgb(128, 112, 112);
    margin: 20px 40px;
    min-height: 50px;
    max-width: 50%;
    border-radius: 50px;
    color:white;
    box-shadow: 2px 1px 5px 1px rgba(17, 16, 16, 0.226);
    font-weight: 600;
}
.rightPane-item{
 box-shadow: 5px 1px 10px 2px rgba(17, 16, 16, 0.226);
 background-color: rgba(250, 250, 248, 0.274);
 padding-left: 5.5em;
 min-width: 60%;
 border-radius: 12px;
}

.userLeftPane-item:hover{
    transform: scaleX(1.02);
    box-shadow: 1.5px 2px 4px rgb(78, 73, 73);
}

.activeItem-true{
    background-color: rgb(143, 238, 206);    
    color:black;
}
.activeItem-true:hover{
        box-shadow: 1.5px 2px 4px rgb(118, 122, 121);
}