.userProfileContainer{
    padding: 25px 90px 25px 30px;
    margin-top: 90px;
    min-height: 500px;
    width: 100%;
    background-color: #f5f5dc;    
}

.userLeftPane-item{    
    display: flex;
    justify-content: left;
    align-items: center;
    cursor:pointer;
    padding: 5px 2.4em;
    background-color: rgb(128, 112, 112);
    margin: 20px 40px;
    min-height: 50px;
    max-width: 50%;
    border-radius: 50px;
    color:white;
    box-shadow: 2px 1px 5px 1px rgba(17, 16, 16, 0.226);
    font-weight: 600;
}
.rightPane-item{
 box-shadow: 2px 1px 7px 4px rgba(17, 16, 16, 0.226);
 background-color: white;
 padding-left: 5.5em;
 max-width: 70%;
 min-width: 30%;
}

.userLeftPane-item:hover{
    transform: scaleX(1.02);
    box-shadow: 1.5px 2px 4px rgb(78, 73, 73);
}

.activeItem-true{
    background-color: rgb(143, 238, 206);    
    color:black;
}
.activeItem-true:hover{
        box-shadow: 1.5px 2px 4px rgb(118, 122, 121);
}