.auth-container {
  margin-bottom: -5px;
}

.label {
  font-family: Benillia;
  font-size: 40px;
}

.paper {
  position: absolute;
  width: 40%;
  transform: translateY(-127%);
  left: 25%;
  min-height: 480px;
  padding: 0px 40px;
  margin-top: -30px;
  background-color: rgb(255, 255, 255);
}

.paper-fp {
  position: absolute;
  width: 40%;
  transform: translateY(-145%);
  left: 25%;
  min-height: 400px;
  padding: 0px 40px;
  margin-top: -30px;
  background-color: rgb(255, 255, 255);
}

.auth-tab {
  height: 100px;
  width: 50%;
  font-family: "AdobeCaslonPro";
}

.btn-auth {
  background-color: #222;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  border-radius: 0;
}

.btn-auth:hover {
  background-color: #222;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #777;
  transition: background-color 5000s ease-in-out 0s;
}

.forgotpass {
  height: 50px;
  font-size: medium;
  margin: 12px auto;
  font-weight: thin;
}

.forgotpass :active {
  color: #222;
}

.errorMessage {
  background-color: rgb(202, 70, 61);
  font-size: 16px;
  font-family: "ProximaNova";
  margin-bottom: 10px;
  color: #fff;
  padding: 1px 5px;
}

.emailsent {
  background-color: #333;
  font-size: 20px;
  padding: 10px;
  font-family: "ProximaNova";
  color: #fff;
}

.senticon {
  color: #fff;
  margin-left: 10px;
}

.box {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.flut {
  position: relative;
  width: 100%;
}
