.footer {
  background-color: black;
  color: white;
  padding-top: 20px;
  font-size: 16px;
  font-family: ProximaNova;
  height: 400px;
}

.navbar-nav {
  display: inline-flexbox;
}

.social {
  display: flex;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
  list-style-type: none;
}

.footer-icon {
  font-size: 30px;
  margin: 0px 20px;
  margin-top: 5px;
}

.footer-logo {
  border-radius: 50%;
}

.logo-con {
  width: 250px;
  padding: 0;
  background: black;
  margin: 40px auto;
}

footer a {
  text-decoration: none;
  color: white;
}
